body {
background: #000000;
color: #FFFFFF;
font: 
}

h1 {
font-size: 70px;
}

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}